nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lavender;
}

a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: lavenderblush;
}

